{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="py-5" style="background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">ABOUT  US!</h1>
            <p class="lead fw-normal text-white-50 mb-0">bOSS? kamusta ang buhay buhay!</p>
        </div>
    </div>
</header>

<div class = "container">
    <div class = "row">
        <center>
            <div class = "col-8">
                <p align="justify"><br><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt dui eu turpis hendrerit, eget facilisis elit sodales. Fusce eget nisi iaculis, vestibulum felis ut, bibendum sem. Morbi venenatis eros non neque ultricies bibendum. Curabitur tincidunt, odio at vulputate interdum, nunc lorem iaculis massa, ac tempus metus ligula eu urna. Pellentesque in fringilla nisi, nec lacinia lacus. Aenean venenatis, ex non pulvinar auctor, eros lacus bibendum velit, vel feugiat enim quam ut leo. Ut massa diam, maximus cursus elementum at, eleifend mattis lorem. Nam ullamcorper blandit blandit. Aenean in tellus non velit gravida scelerisque vel id turpis. Sed ut lobortis tellus. Maecenas consectetur purus a diam auctor dignissim. Duis nisi nibh, venenatis at tempor id, condimentum ac sapien. Integer lacinia libero pharetra sapien dapibus pellentesque. <br><br>

                Integer blandit nulla a augue convallis commodo. Nulla viverra convallis tortor nec aliquet. Cras viverra luctus venenatis. Donec a leo ut enim gravida venenatis eu in nulla. Nunc at ipsum sed lectus pretium consequat. Phasellus pellentesque nisl eu velit pellentesque, maximus condimentum orci volutpat. Duis accumsan dolor arcu, nec laoreet mauris lobortis id. Nulla porta nisl tincidunt quam aliquam, vel aliquam arcu elementum. Ut eu lectus non sem dignissim finibus quis vel metus. Sed finibus nulla eu justo condimentum mollis. Sed quam quam, facilisis a convallis nec, tempus in urna. Etiam interdum augue sem, at bibendum libero laoreet sed. Duis lacinia massa fermentum ligula finibus, ac ultrices leo posuere. Aliquam odio nulla, auctor vel magna eu, facilisis commodo elit.<br><br>

                Nulla facilisi. Phasellus a enim auctor, sodales elit ut, interdum ipsum. Suspendisse convallis augue in urna sodales volutpat. Integer dolor odio, vestibulum et maximus ut, porttitor non tellus. In aliquet euismod mi, luctus tincidunt nisi fermentum nec. Donec lacinia placerat arcu, in euismod velit auctor posuere. Aenean pellentesque pulvinar leo, in rhoncus enim commodo id. Praesent at egestas ex. Praesent sed vestibulum lorem. In est nulla, efficitur vel tellus in, tristique volutpat tellus. Aenean iaculis lectus quis ante iaculis sodales. Curabitur at pharetra quam.
                </p>
                <br><br>
            </div>
        </center>
    </div>
</div>
{% endblock %}