{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="py-5" style="background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">PAYMENT FAILED</h1>
            <p class="lead fw-normal text-white-50 mb-0">There was a problem</p>
        </div>
    </div>
</header>

<div class = "container">
    <div class = "row">
        <center>
            <div class = "col-8">
                <p align="justify"><br><br>
                    There was a problem processing your order, please try again.
                </p>
                <br><br>
            </div>
        </center>
    </div>
</div>
{% endblock %}